.xtool-main {
  box-sizing: border-box;
  background-color: rgba(24, 27, 52);
  min-height: 100vh;
  overflow: scroll;
  .wrapper {
    box-sizing: border-box;
    padding: 0 20px;
  }
}

.xtool-main .wrapper {
  .nav {
    position: relative;
    padding: 10px 0;
    svg {
      position: absolute;
      top: 20px;
      left: 10px;
      width: 23px;
      height: 23px;
      stroke: #c3c6d4;
      stroke-width: 5;
    }
    .search-btn {
      all: unset;
      box-sizing: border-box;
      height: 40px;
      display: flex;
      align-items: center;
      color: #c3c6d4;
      font-size: 18px;
      gap: 5px;
      padding: 8px 25px 8px 38px;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      svg {
        width: 23px;
        height: 23px;
        stroke: #c3c6d4;
        stroke-width: 5;
      }
    }

    .search-container {
      position: relative;
      height: 40px;
      box-sizing: border-box;
    }
    .search-input {
      all: unset;
      height: 100%;
      border: 1px solid #1a80b3;
      border-radius: 7px;
      font-size: 20px;
      padding-left: 37px;
      width: 200px;
      animation: search-wide 0.3s cubic-bezier(0.15, 0.51, 0.42, 0.95);
      &:focus,
      &:hover {
        border-color: #229ad6;
      }
    }
  }
  .group {
    background-color: rgb(48, 50, 78);
    width: 1000px;
    min-height: 100px;
  }
}

@keyframes search-wide {
  0% {
    width: 50px;
  }
  100% {
    width: 200px;
  }
}
