.xtool-main {
  box-sizing: border-box;
  background-color: rgba(24, 27, 52);
  min-height: 100vh;
  padding-top: 60px;
  .wrapper {
    box-sizing: border-box;
    padding: 0 20px;
  }
}

.xtool-main .wrapper {
  .nav {
    padding: 10px 0;
    .search-btn {
      all: unset;
      display: flex;
      align-items: center;
      color: #c3c6d4;
      font-size: 22px;
      gap: 5px;
      padding: 8px 20px 8px 10px;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      svg {
        width: 23px;
        height: 23px;
        stroke: #c3c6d4;
        stroke-width: 5;
      }
    }
  }
  .group {
    background-color: rgb(48, 50, 78);
    width: 1000px;
    min-height: 100px;
  }
}
