@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Poppins:wght@400;500;600;700&family=Montserrat:wght@100..900&family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400..700&display=swap');

.parke {
  background: variables.$bg;
  min-height: 100vh;
}

.wrap {
  max-width: 820px;
  margin: 0 auto;
}
