@use './variables.scss';

.header-wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-box {
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .title {
    color: white;
    font-family: variables.$font-montserrat;
    font-weight: 600;
    letter-spacing: -1.2px;
    font-size: 25px;
  }

  .caption-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .caption {
    font-family: variables.$font-poppins;
    font-size: 20px;
    letter-spacing: -1.2px;
    color: #eee;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .app-icon {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #151515;
    img {
      width: 100%;
    }
  }
  .logo-caption {
    width: 250px;
    height: calc(250px * 68.86523 / 700.62437);
    fill: white;
  }
}
