@use '../screens/xtool-lead-manager/styles/variables.scss';

// global
.xtool-lead-manager {
  background-color: rgb(41, 47, 76);
  width: 100vw;
  min-height: 100vh;
  color: #d5d8df;
  font-family: variables.$font-sans;
}
